.book-list__item:hover{
    background-color: rgb(223, 223, 223);
}

.book-item{
    padding: 8px;
    padding-left: 5px;
    min-height: 70px;
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
}
.book-tem__cover{
    width: 100%
}
.book-item__text{
    padding-left: 5px;
}

.book-item__author{
    font-size: 12px;
    color: gray;
}
img{
    margin: 0 auto;
}